.wrapper-img {
  height: 150px;
  width: 100%;
  /* margin: 10px; */
  object-fit: cover;
}

.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
}

.jumbotron {
  margin-bottom: 0;
}